<div>
	<p>Los autores de este quiz son los que saben,<br> Fernando González Albuisech y Mario Perales Pina</p>
	<br>
	<div id="foto_container">
		<image src="/sabe.jpg" width="30%" height="30%" id="i1">
	</div>
	<br>
	<p>f.galbuisech@gmail.com  marioperales124@gmail.com</p>

</div>
